@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --min-width: 600px;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-size: 12px;
  --font-color: #333;

  --scroll-bar-width: 7px;
}

@media screen and (max-width: 640px) {
  :root {
    --min-width: 100vw;
    --max-width: 100vw;
    --font-size: 15px;
    --scroll-bar-width: 0px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-mono);
  font-size: var(--font-size);
  line-height: 1.5;
  color: var(--font-color);
}

::-moz-selection {
  background: #63a67f;
  color: #fff;
}

::selection {
  background: #63a67f;
  color: #fff;
}

::-webkit-scrollbar {
  width: var(--scroll-bar-width);
}

::-webkit-scrollbar:horizontal {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: #efefef;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-corner {
  background-color: #efefef;
}

::scrollbar-arrow-color {
  background-color: #efefef;
}

/* Animations */
@keyframes bounceOut {
  20% {
    transform: scale3d(0.95, 0.95, 0.95);
  }

  50% {
    opacity: 0.8;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0.7;
    transform: scale3d(0.98, 0.98, 0.98);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInDownMini {
  0% {
    opacity: 0;
    transform: translate3d(0, -3px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Rich content */
.art-content a {
  color: #63a67f;
}

.art-content a:hover {
  text-decoration: underline;
}

.art-content h2,
.art-content h3,
.art-content h4,
.art-content p {
  margin: 20px 0;
}

.art-content h3:after,
.art-content h4:after {
  content: "#";
  font-style: italic;
  color: #999;
  padding-right: 3px;
}

.art-content h3:after:hover,
.art-content h4:after:hover {
  color: #444;
}

.art-content h2 {
  font-size: 32px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d0d0d0;
  margin: 18px 0 8px;
}

.art-content h3 {
  font-size: 24px;
}

.art-content h4 {
  font-size: 16px;
}

.art-content p {
  font-size: 16px;
}

.art-content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  animation: fadeIn 2s;
}

.art-content ol,
.art-content ul {
  padding-left: 35px;
}

.art-content ol li,
.art-content ul li {
  font-size: 16px;
  margin: 4px 0;
}

.art-content ul li {
  list-style: square;
  list-style-position: outside;
}

.art-content ol li {
  list-style: decimal;
}

.art-content pre {
  background-color: #efefef;
  margin: 20px 0;
  padding: 10px;
  overflow: auto;
}

.art-content blockquote {
  margin: 20px 0;
  border-left: 7px solid #db8160;
  background-color: #fff;
  padding: 10px 0.8em;
}