@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --min-width: 600px;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-size: 12px;
  --font-color: #333;

  --scroll-bar-width: 7px;

  --code-bg-color: #efefef;
}

@media screen and (max-width: 640px) {
  :root {
    --min-width: 100vw;
    --max-width: 100vw;
    --font-size: 15px;
    --scroll-bar-width: 0px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --code-bg-color: #212121;
  }
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-mono);
  font-size: var(--font-size);
  line-height: 1.5;
  color: var(--font-color);
}

::-moz-selection {
  background: #63a67f;
  color: #fff;
}

::selection {
  background: #63a67f;
  color: #fff;
}

::-webkit-scrollbar {
  width: var(--scroll-bar-width);
}

::-webkit-scrollbar:horizontal {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: #efefef;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-corner {
  background-color: #efefef;
}

::scrollbar-arrow-color {
  background-color: #efefef;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.art-content {
  @apply break-words tracking-wide;
}

/* Rich content */
.art-content a {
  @apply text-green hover:underline active:outline-none;
}

.art-content h2 {
  @apply mt-6;
}

.art-content h3,
.art-content h4,
.art-content p,
.art-content ul,
.art-content ol,
.art-content blockquote {
  @apply mt-4;
}

.art-content h2 {
  @apply text-xl font-semibold pb-2.5 border-b-[1px] border-solid border-gray-300;
}

.art-content h2::before {
  @apply text-slate-500 pr-1 content-['#'];
}

.art-content h3 {
  @apply text-lg font-semibold;
}

.art-content h4 {
  @apply text-base;
}

.art-content p {
  @apply text-base leading-loose font-light;
}

.art-content p code {
  @apply before:content-['`'] after:content-['`'];
}

.art-content blockquote {
  @apply text-slate-500 bg-gray-100 px-3 py-3 border-l-[7px] border-solid border-l-green;
}

.art-content blockquote p {
  @apply my-0;
}

.art-content img {
  @apply object-cover rounded-lg mx-auto max-w-full;
  animation: fadeIn 2s;
}

.art-content ol,
.art-content ul {
  @apply pl-6;
}

.art-content ol {
  @apply list-decimal;
}

.art-content ul {
  @apply list-disc;
}

.art-content ol li,
.art-content ul li {
  @apply text-base font-light leading-loose pl-1.5;
}

.art-content pre {
  @apply text-xs leading-normal p-4 mt-5 rounded-md text-slate-500 bg-[#282c34] rounded-br-sm overflow-x-auto;
}

.art-content > * {
  --enter-stage: 0;
  --enter-step: 120ms;
  animation: enter 0.6s both;
  animation-delay: calc(var(--enter-stage) * var(--enter-step));
}

.art-content > *:nth-child(1) {
  --enter-stage: 1;
}
.art-content > *:nth-child(2) {
  --enter-stage: 2;
}
.art-content > *:nth-child(3) {
  --enter-stage: 3;
}
.art-content > *:nth-child(4) {
  --enter-stage: 4;
}
.art-content > *:nth-child(5) {
  --enter-stage: 5;
}
.art-content > *:nth-child(6) {
  --enter-stage: 6;
}
.art-content > *:nth-child(7) {
  --enter-stage: 7;
}
.art-content > *:nth-child(8) {
  --enter-stage: 8;
}
.art-content > *:nth-child(9) {
  --enter-stage: 9;
}
.art-content > *:nth-child(10) {
  --enter-stage: 10;
}
.art-content > *:nth-child(11) {
  --enter-stage: 11;
}
.art-content > *:nth-child(12) {
  --enter-stage: 12;
}
.art-content > *:nth-child(13) {
  --enter-stage: 13;
}
.art-content > *:nth-child(14) {
  --enter-stage: 14;
}
.art-content > *:nth-child(15) {
  --enter-stage: 15;
}
.art-content > *:nth-child(16) {
  --enter-stage: 16;
}
.art-content > *:nth-child(17) {
  --enter-stage: 17;
}
.art-content > *:nth-child(18) {
  --enter-stage: 18;
}
.art-content > *:nth-child(19) {
  --enter-stage: 19;
}
.art-content > *:nth-child(20) {
  --enter-stage: 20;
}
