.main-nav {
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}

.nav-item {
  line-height: 33px;
  float: left;
  font-size: 15px;
  text-align: center;
}

.nav-item-link {
  color: #7e7e7e;
  display: block;
  margin: 0 15px;
  transition: color 0.3s;
}

.nav-item-link.nav-item-selected {
  color: #fff;
}

.nav-item-link:hover {
  color: #fff;
  transition: color 0.8s;
}
